<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Chart</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
</head>
<body>
    {% include "basic_app/navbar.html" %}
    <h1>Agreement Flow Chart</h1>
    <div class = "center" style = "display: block;">
    <nav class="nav">
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" title="E.g. Measurements of blood vessel wall column">Continuous Variable</a>
                        <ul>
                            <!-- Branch 1-->
                            <li>
                                <a href="#" data-toggle="tooltip" title="The degree of agreement among repeated administrations of a diagnostic test performed by a single rater.">Intrarater Reliability</a>
                                <ul>
                                    <!-- Branch 1.1-->
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="Each subject is measureed by a different set of randomly selected raters.Reliability is calculated from a single measurement.">Single Measurement</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">ICC(1,A)</a>
            
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="Each subject is measureed by a different set of randomly selected raters.Reliability is calculated from the average measurement.">Mean of multiple Measurements</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">ICC(k,A)</a>
            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Branch 2-->
                            <li>
                                <a href="#" data-toggle="tooltip" title="The degree of agreement among different raters.">Interrater Reliability</a>
                                <ul>
                                    <!-- Branch 1.1-->
                                    <li>
                                        <a href="#">ANOVA Model Assumptions Satisfied</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">Same set of Raters for all Subjects</a>
            
                                            </li>

                                            <li>
                                                <a href="#">Each Subject rated by different set of Raters</a>
            
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li>
                                        <a href="#">ANOVA Model Assumptions NOT Satisfied</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">Concordance correlation coefficient (CCC)</a>
            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    
    

       <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip({
            'selector': '',
            'placement': 'top',
            'container':'body'
          });   
        });
        </script>

</body>
</html>