<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Chart</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
</head>
<body>
    {% include "basic_app/navbar.html" %}

    <div id ="wrapper">
    
    <div id = "chart" class = "center" style = "display: block;">
    <h1 style = "margin-left: 10%";>Agreement Flow Chart</h1>
    <nav class="nav">
                <ul>
                <li>
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" title="">Categorical Variable</a>
                        <ul>
                            <li>
                                <a href="#" data-toggle="tooltip" title="More than two categories">Multicategorical Variable</a>
                            <ul>
                            <li>
                                <a href="{% url 'basic_app:fleisskappa' %}" target="_blank" data-toggle="tooltip" title="">Fleiss' Kappa</a>
                            </ul>
                            <li>
                                    <a href="#" data-toggle="tooltip" title="Two categories">Binomial Variable</a>
                                 <ul>
                                    <li>
                                    <a href="{% url 'basic_app:weightedkappa' %}" target="_blank" data-toggle="tooltip" title="">Cohen’s Weighted Kappa</a>
                                 </ul>
                        </ul>
                </ul>
                </li>
                <li>
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" title="E.g. Measurements of blood vessel wall column">Continuous Variable</a>
                        <ul>
                            <!-- Branch 1-->
                            <li>
                                <a href="#" data-toggle="tooltip" title="The degree of agreement among repeated administrations of a diagnostic test performed by a single rater.">Intrarater Reliability</a>
                                <ul>
                                    <!-- Branch 1.1-->
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="Reliability is calculated from a single measurement.">Single Measurement</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="{% url 'basic_app:icc1A' %}" target="_blank">ICC(1,A)</a>
            
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="Reliability is calculated from the average measurement.">Mean of multiple Measurements</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="{% url 'basic_app:icckA' %}" target="_blank">ICC(k,A)</a>
            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Branch 2-->
                            <li>
                                <a href="#" data-toggle="tooltip" title="The degree of agreement among different raters.">Interrater Reliability</a>
                                <ul>
                                    <!-- Branch 1.1-->
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="The data are independent, the responses for each factor level have a normal distribution, with same mean and variance.">ANOVA Model Assumptions Satisfied</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">Same set of Raters for all Subjects</a>
                                                <ul>
                                                    <!-- Branch 1.1-->
                                                    <li>
                                                        <a href="#">Specific set of rater</a>
                                                        <ul>
                                                            <!-- Branch 1.1-->
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" title="Reliability is calculated from a single measurement.">Single Measurement</a>
                                                                <ul>
                                                                    <!-- Branch 1.1-->
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Absolute agreement concerns if different raters assign the same score to the same subject. For example, one rater’s score (y) can be equated to another rater’s score (x) (i.e. y = x).">Absolute Agreement</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icc1A' %}" target="_blank">ICC(1,A)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                        
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Consistency definition concerns if raters’ scores to the same group of subjects are correlated in an additive manner. For example, one rater’s score (y) can be equated to another rater’s score (x) plus a systematic error (c) (i.e. y = x + c).">Consistency</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icc31C' %}" target="_blank">ICC(3,1,C)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                                                                </ul>
                            
                                                            </li>
                
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" title="Reliability is calculated from the average measurement.">Mean of multiple Measurements</a>
                                                                <ul>
                                                                    <!-- Branch 1.1-->
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Absolute agreement concerns if different raters assign the same score to the same subject. For example, one rater’s score (y) can be equated to another rater’s score (x) (i.e. y = x).">Absolute Agreement</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icckA' %}" target="_blank">ICC(k,A)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                        
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Consistency definition concerns if raters’ scores to the same group of subjects are correlated in an additive manner. For example, one rater’s score (y) can be equated to another rater’s score (x) plus a systematic error (c) (i.e. y = x + c).">Consistency</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icc3kC' %}" target="_blank">ICC(3,k,C)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                                                                </ul>
                            
                                                            </li>
                                                        </ul>
                    
                                                    </li>
        
                                                    <li>
                                                        <a href="#">Random set of raters</a>
                                                        <ul>
                                                            <!-- Branch 1.1-->
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" title="Reliability is calculated from a single measurement.">Single Measurement</a>
                                                                <ul>
                                                                    <!-- Branch 1.1-->
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Absolute agreement concerns if different raters assign the same score to the same subject. For example, one rater’s score (y) can be equated to another rater’s score (x) (i.e. y = x).">Absolute Agreement</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icc21A' %}" target="_blank">ICC(2,1,A)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                        
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Consistency definition concerns if raters’ scores to the same group of subjects are correlated in an additive manner. For example, one rater’s score (y) can be equated to another rater’s score (x) plus a systematic error (c) (i.e. y = x + c).">Consistency</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icc1c' %}" target="_blank">ICC(1,C)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                                                                </ul>
                            
                                                            </li>
                
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" title="Reliability is calculated from the average measurement.">Mean of multiple Measurements</a>
                                                                <ul>
                                                                    <!-- Branch 1.1-->
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Absolute agreement concerns if different raters assign the same score to the same subject. For example, one rater’s score (y) can be equated to another rater’s score (x) (i.e. y = x).">Absolute Agreement</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icc2kA' %}" target="_blank">ICC(2,k,A)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                        
                                                                    <li>
                                                                        <a href="#" data-toggle="tooltip" title="Consistency definition concerns if raters’ scores to the same group of subjects are correlated in an additive manner. For example, one rater’s score (y) can be equated to another rater’s score (x) plus a systematic error (c) (i.e. y = x + c).">Consistency</a>
                                                                        <ul>
                                                                            <!-- Branch 1.1-->
                                                                            <li>
                                                                                <a href="{% url 'basic_app:icckc' %}" target="_blank">ICC(k,C)</a>
                                            
                                                                            </li>
                                                                        </ul>
                                    
                                                                    </li>
                                                                </ul>
                            
                                                            </li>
                                                        </ul>
                    
                                                    </li>
                                                </ul>
            
                                            </li>

                                            <li>
                                                <a href="#">Each Subject rated by different set of Raters</a>
                                                <ul>
                                                    <!-- Branch 1.1-->
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Reliability is calculated from a single measurement.">Single Measurement</a>
                                                        <ul>
                                                            <!-- Branch 1.1-->
                                                            <li>
                                                                <a href="{% url 'basic_app:icc11a' %}" target="_blank">ICC(1,1,A)</a>
                            
                                                            </li>
                                                        </ul>
                    
                                                    </li>
        
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Reliability is calculated from the average measurement.">Mean of multiple Measurements</a>
                                                        <ul>
                                                            <!-- Branch 1.1-->
                                                            <li>
                                                                <a href="{% url 'basic_app:icc1ka' %}" target="_blank">ICC(1,k,A)</a>
                            
                                                            </li>
                                                        </ul>
                    
                                                    </li>
                                                </ul>
            
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="When the ANOVA assumptions are not satisfied.">ANOVA Model Assumptions NOT Satisfied</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="{% url 'basic_app:ccc' %}">Concordance correlation coefficient (CCC)</a>
            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                </li>
                </ul>
            </nav>
        </div>
        </div>
    

       <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip({
            'selector': '',
            'placement': 'top',
            'container':'body'
          });   
        });
        </script>

</body>
</html>