<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
</head>
<body>
    <h1>Welcome to Flow Chart Page!</h1>
    <div>
    <div class = "center"  style = "display: block;">

        <a href="{% url 'basic_app:quiz' %}" style="color: #ccc;">Take a quiz to find out</a>
        <a href="{% url 'index' %}" style="color: #ccc;">Home Page</a>
    
        </div>
    <div class = "center" style = "display: block;">
    <nav class="nav">
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" title="Definition of continuous variable goes here">Continuous Variable</a>
                        <ul>
                            <!-- Branch 1-->
                            <li>
                                <a href="#" data-toggle="tooltip" title="Definition of intrarater goes here but it is pretty obvious..">Intrarater Reliability</a>
                                <ul>
                                    <!-- Branch 1.1-->
                                    <li>
                                        <a href="#" >Single Measurement</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">ICC(1,A)</a>
            
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li>
                                        <a href="#">Mean of multiple Measurements</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">ICC(k,A)</a>
            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Branch 2-->
                            <li>
                                <a href="#">Interrater Reliability</a>
                                <ul>
                                    <!-- Branch 1.1-->
                                    <li>
                                        <a href="#">ANOVA Model Assumptions Satisfied</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">Same set of Raters for all Subjects</a>
            
                                            </li>

                                            <li>
                                                <a href="#">Each Subject rated by different set of Raters</a>
            
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li>
                                        <a href="#">ANOVA Model Assumptions NOT Satisfied</a>
                                        <ul>
                                            <!-- Branch 1.1-->
                                            <li>
                                                <a href="#">Concordance correlation coefficient (CCC)</a>
            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    
       </div>
    

       <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip({
            'selector': '',
            'placement': 'top',
            'container':'body'
          });   
        });
        </script>

</body>
</html>