{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICC (2,k,A)</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body style = "padding-left:2%;">
    
<h2>ICC(2,k,A)</h2>
<h4>- Defined by Shrout and Fleiss (1979) and McGraw and Wong (1996)</h4>
<h4>- Calculate the degree of absolute agreement among averaged measurements rated by randomly selected raters.</h4>

<h3>Interpretation:</h3>

Degree of absolute agreement among averaged measurements rated by randomly selected raters.
Note that this has the same formula as ICC(k,A), however the assumption is different as this is assuming raters are randomly selected as opposed to a specific set of raters.
<br>
Koo and Li (2016) gives the following suggestion for interpreting ICC (Koo and Li 2016):
<br>
below 0.50: poor<br>
between 0.50 and 0.75: moderate<br>
between 0.75 and 0.90: good<br>
above 0.90: excellent<br>

<h3>Underlying Model: Two-way random effects model</h3>

<p>\(x_{ij} = \mu + r_i + c_j + e_{ij} \)</p>

<h3>Assumption:</h3>
<p>\(\mu\): The population mean of observations</p>
<p>\(r_i\): The row effects (effects between each sample) are random, independent and normally distributed with mean 0 and variance \(\sigma_{r}^2\).</p>
<p>\(c_i\): The row effects (effects between each rater) are random, independent and normally distributed with mean 0 and variance \(\sigma_{c}^2\).</p>
<p>\(e_{ij}\): The residual error are random, independent and normally distributed with mean 0 and variance \(\sigma_{e}^2\). All residual effects are pairwise independent.</p>

<h3>Formula:</h3>

<p>\(\frac{MS_R - MS_E}{MS_R + \frac{(MS_c - MS_E)}{n}}\)</p>

<p>\(MS_R\) = mean square for rows; </p>
<p> \(MS_C\) = mean square for columns; </p>
<p> \(MS_E\) = mean square error; </p>
 <p> n = number of object of measurement (number of rows);</p>

 <h3>Example in R</h3>

 <div style = "width: 40%;">
 {% include "basic_app/icc2ka_r.html" %}

 </div>



 <h3>Live Example: Try run this yourself</h3>

<iframe width='40%' height='40%' src='https://rdrr.io/snippets/embed/?code=data(%22anxiety%22%2C%20package%20%3D%20%22irr%22)%0Ahead(anxiety%2C%204)%0Alibrary(%22irr%22)%0Aicc(anxiety%2C%20model%20%3D%20%22twoway%22%2C%20type%20%3D%20%22agreement%22%2C%20unit%20%3D%20%22single%22)' frameborder='0'></iframe>


<h3>Reference:</h3>
<p>
Koo, Terry, and Mae Li. 2016. “A Guideline of Selecting and Reporting Intraclass Correlation Coefficients for Reliability Research.” Journal of Chiropractic Medicine 15 (March). doi:10.1016/j.jcm.2016.02.012.<br>
Shrout, P.E., and J.L. Fleiss. 1979. “Intraclass Correlation: Uses in Assessing Rater Reliability.” Psychological Bulletin 86: 420–28.
McGraw KO, Wong SP. Forming inferences about some intraclass correlation coefficients. Psychol Methods. 1996;1:30–46. [Google Scholar]
 </p>


</body>
</html>