<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
</head>
<body>
    <div class="container">
        <div class="split left">
        </div>
        <div class="split right">
          <h1>RADIOLOGY AGREEMENT STATISTICS</h1>
          <a href="{% url 'basic_app:quiz' %}" class="button" style ="left: 30%;">Take a quiz to find out</a>
          <a href="{% url 'basic_app:flowchart' %}" class="button" style ="left: 70%">flowchart</a>
        </div>
      </div>
</body>
</html>