<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <!-- jquery for maximum compatibility -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static "quizdata/quizdata.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/quiz.css" %}"/>
    <script>
   

    var quiztitle = "Take a quiz to find out the agreement statistics that you should use!";

   
    var currentquestion = 0, submt=true, picked, previousquestion = 0;

    jQuery(document).ready(function($){
        /**
         * HTML Encoding function for alt tags and attributes to prevent messy
         * data appearing inside tag attributes.
         */
        function htmlEncode(value){
          return $(document.createElement('div')).text(value).html();
        }


        function addChoices(choices){
            if(typeof choices !== undefined){
                $('#question').text(quiz[currentquestion]["question"]);
                $('#choice-block').empty();
                for (const [key, value] of Object.entries(choices)) {
                $(document.createElement('li')).addClass('choice choice-box').attr('data-index', key).text(key).appendTo('#choice-block');    
                }
                
            }
        }
        
        /**
         * Resets all of the fields to prepare for next question
         */
        function nextQuestion(){
            submt = true;
            $('#explanation').empty();
            if (currentquestion > -1){
            addChoices(quiz[currentquestion]['choices']);
            setupButtons();
            $('.choice[data-index="'+quiz[currentquestion]["selection"]+'"]').css({'background-color':'#e1e1e1'});
            } else {
                console.log("No more questions");
                $('#previousbutton').prop("disabled",true);
                currentquestion = 0;
                nextQuestion();
            }
        }


        function processQuestion(choice){
            previousquestion = currentquestion;
            currentquestion = quiz[currentquestion]["choices"][choice];
                if(quiz[currentquestion] !== undefined && quiz[currentquestion]["results"] != -1){
                    endQuiz();
                } else if (currentquestion > -1){
                    nextQuestion();
                } else {
                    console.log("Need to inplement this node");
                    currentquestion = previousquestion;
                    nextQuestion();
                }

            
        }

        /**
         * Sets up the event listeners for each button.
         */
        function setupButtons(){
            $('.choice').on('mouseover', function(){
                $(this).css({'background-color':'#e1e1e1'});
            });
            $('.choice').on('mouseout', function(){
                $(this).css({'background-color':'#fff'});
            });
            $('#submitbutton').addClass("btn-secondary");

            $('.choice').on('click', function(){
                picked = $(this).attr('data-index');
                
                $('.choice').removeAttr('style').off('mouseout mouseover');
                $(this).css({'border-color':'#222','font-weight':700,'background-color':'#c1c1c1'});
                if(submt){
                    submt=false;
                    $('#submitbutton').css({'color':'#000'}).on('click', function(){
                        $('.choice').off('click');
                        $(this).off('click');
                        quiz[currentquestion]["selection"] = picked;
                        processQuestion(picked);
                    });
                }
                
            })

            if (currentquestion > 0) {
                $('#previousbutton').prop("disabled",false);
                $('#previousbutton').unbind('click').on('click', function(ev){
                    ev.stopPropagation;
                    currentquestion = quiz[currentquestion]["previous"];
                    nextQuestion();
                });
            } else {
                $('#previousbutton').prop("disabled",true);
            }
        }
        
        /**
         * Quiz ends, display a message.
         */
        function endQuiz(){
            $('#explanation').empty();
            $('#question').empty();
            $('#choice-block').empty();
            //$('#submitbutton').remove();
            $('#question').text(quiz[currentquestion]["results"]);
            $('#explanation').text("Here is some more explanation");
            //$(document.createElement('h2')).css({'text-align':'center', 'font-size':'4em'}).text(quiz[currentquestion]["results"]).insertAfter('#question');
        }

        /**
         * Runs the first time and creates all of the elements for the quiz
         */
        function init(){
            //add title
            if(typeof quiztitle !== "undefined" && $.type(quiztitle) === "string"){
                $(document.createElement('h1')).text(quiztitle).appendTo('#frame');
            } else {
                $(document.createElement('h1')).text("Quiz").appendTo('#frame');
            }

            //add pager and questions
            if(typeof quiz !== "undefined"){
               
                //add first question
                $(document.createElement('h2')).addClass('question').attr('id', 'question').text(quiz[0]['question']).appendTo('#frame');
                
                $(document.createElement('p')).addClass('explanation').attr('id','explanation').html('&nbsp;').appendTo('#frame');
            
                //questions holder
                $(document.createElement('ul')).attr('id', 'choice-block').appendTo('#frame');
            
                //add choices

                addChoices(quiz[0]['choices']);
            
                //add submit button
                $(document.createElement('div')).addClass('choice-box').attr('id', 'submitbutton').text('Next Question').css({'font-weight':700,'color':'#222','padding':'30px 0'}).appendTo('#frame');
                $(document.createElement('div')).addClass('choice-box').attr('id', 'previousbutton').text('Previous Question').css({'font-weight':700,'color':'#222','padding':'30px 0'}).appendTo('#frame');
            
                setupButtons();
            }
        }
        
        init();
    });
    </script>

</head>
<body>
    {% include "basic_app/navbar.html" %}
    <div id="frame"></div>
</body>
</html>