<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Search</title>
    <!-- jquery for maximum compatibility -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static "quizdata/quizdata.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/quiz.css" %}"/>
    <script>

         $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip({
            'selector': '',
            'placement': 'top',
            'container':'body'
          });   
        });
   

    var quiztitle = "Search for what is the right agreement statistic for you!";

    //set up quiz decision tree
    


    /******* No need to edit below this line *********/
    var currentquestion = 0, submt=true, picked, previousquestion = 0;

    jQuery(document).ready(function($){
        $('[data-toggle="tooltip"]').tooltip({
            'selector': '',
            'placement': 'top',
            'container':'body'
          });
       

        function addChoices(choices){
            if(typeof choices !== undefined){
                $('#question').text(quiz[currentquestion]["question"]);
                $('#choice-block').empty();
                for (const [key, value] of Object.entries(choices)) {
                $(document.createElement('li')).addClass('choice choice-box').attr('data-index', key).attr('data-toggle',"tooltip").attr('title',"wew").text(key).appendTo('#choice-block');
                }
            }
        }
        
        /**
         * Resets all of the fields to prepare for next question
         */
        function nextQuestion(){
            submt = true;
            $('#explanation').empty();
            if (currentquestion > -1){
            addChoices(quiz[currentquestion]['choices']);
            setupButtons();
            $('.choice[data-index="'+quiz[currentquestion]["selection"]+'"]').css({'border-color':'#222','font-weight':700,'background-color':'#c1c1c1'});
            } else {
                console.log("No more questions");
                $('#previousbutton').prop("disabled",true);
                currentquestion = 0;
                nextQuestion();
            }
        }

       
        function processQuestion(choice){
            previousquestion = currentquestion;
            currentquestion = quiz[currentquestion]["choices"][choice];
                if(quiz[currentquestion] !== undefined && quiz[currentquestion]["results"] != -1){
                    endQuiz();
                } else if (currentquestion > -1){
                    nextQuestion();
                } else {
                    console.log("Need to inplement this node");
                    currentquestion = previousquestion;
                    nextQuestion();
                }

            
        }

        /**
         * Sets up the event listeners for each button.
         */
        function setupButtons(){
            $('#submitbutton').show();
            $('.choice').on('mouseover', function(){
                $(this).css({'background-color':'#d9ecf2'});
            });
            $('.choice').on('mouseout', function(){
                $(this).css({'background-color':'#fff'});
            });
            $('#submitbutton').addClass("btn-secondary");

            $('.choice').on('click', function(){
                picked = $(this).attr('data-index');
                quiz[currentquestion]["selection"] = picked;
                processQuestion(picked);
                
                $('.choice').removeAttr('style').off('mouseout mouseover');
                $(this).css({'border-color':'#222','font-weight':700,'background-color':'#c1c1c1'});
                
            })

            if (currentquestion > 0) {
                $('#previousbutton').show();
                $('#previousbutton').unbind('click').on('click', function(ev){
                    ev.stopPropagation;
                    currentquestion = quiz[currentquestion]["previous"];
                    nextQuestion();
                });
            } else {
                $('#previousbutton').hide();
            }
        }
        
        /**
         * Quiz ends, display a message.
         */
        function endQuiz(){
            $('#explanation').empty();
            $('#question').empty();
            $('#choice-block').empty();
            $('#submitbutton').hide();
            $('#question').text(quiz[currentquestion]["results"]);
            if (currentquestion > 0) {
                $('#previousbutton').show();
                $('#previousbutton').unbind('click').on('click', function(ev){
                    ev.stopPropagation;
                    currentquestion = quiz[currentquestion]["previous"];
                    nextQuestion();
                });
            } else {
                $('#previousbutton').hide();
            }
            window.open("/basic_app/" + quiz[currentquestion]["link"]);
            //$(document.createElement('h2')).css({'text-align':'center', 'font-size':'4em'}).text(quiz[currentquestion]["results"]).insertAfter('#question');
        }

        /**
         * Runs the first time and creates all of the elements for the quiz
         */
        function init(){
            //add title
            if(typeof quiztitle !== "undefined" && $.type(quiztitle) === "string"){
                $(document.createElement('h1')).text(quiztitle).appendTo('#header');
            } else {
                $(document.createElement('h1')).text("Quiz").appendTo('#header');
            }

            //add pager and questions
            if(typeof quiz !== "undefined"){
               
                //add first question
                $(document.createElement('h2')).addClass('question').attr('id', 'question').text(quiz[0]['question']).appendTo('#frame');
                
                $(document.createElement('p')).addClass('explanation').attr('id','explanation').html('&nbsp;').appendTo('#frame');
            
                //questions holder
                $(document.createElement('ul')).attr('id', 'choice-block').appendTo('#frame');
            
                //add choices

                addChoices(quiz[0]['choices']);
            
                //add submit button
                $(document.createElement('div')).addClass('choice-box').attr('id', 'previousbutton').text('Previous Question').css({'font-weight':700,'color':'#222','padding':'30px 0'}).appendTo('#frame');
            
                setupButtons();
            }
        }
        
        init();
    });
    </script>
</head>
<body>
    {% include "basic_app/navbar.html" %}
    <div id="header" role="content"></div>
    <div id="frame" role="content"></div>
</body>
</html>