<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <!-- jquery for maximum compatibility -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
   

    var quiztitle = "Take a quiz to find out the agreement statistics that you should use!";

    //set up quiz decision tree
    var quiz = {
        0 : {
            "question"      :   "What kind of variable are you working with?",
            "choices"       :   {
                                    "Intrarater Reliability": 1,
                                    "Interrater Reliability": 2
                                },
            "selection"     :   -1,
            "previous"      :   -1,
            "results": -1

        },
        1: {
            "question"      :   "What kind of measurements do you use",
            "choices"       :   {
                                    "Single": 5,
                                    "Multiple": 6
                                },
            "selection"       :   -1,
            "previous"      :   0,
            "results": -1
        },
        2: {
            "question"      :   "What kind of model do you use",
            "choices"       :   {
                                    "ANOVA": 3,
                                    "Not Anova": 0
                                },
            "selection"       :   -1,
            "previous"      :   0,
            "results": -1
        },
        3: {
            "question"      :   "How do raters read",
            "choices"       :   {
                                    "Same set": 5,
                                    "Multiple": 6
                                },
            "selection"       :   -1,
            "previous"      :   2,
            "results": -1
        },
        5 : {
            "results": "ICC(k,A)",
            "previous":   1
        },
        6 : {
            "results": "ICC(1,A)",
            "previous":   1
        }
    };


    /******* No need to edit below this line *********/
    var currentquestion = 0, submt=true, picked;

    jQuery(document).ready(function($){
        /**
         * HTML Encoding function for alt tags and attributes to prevent messy
         * data appearing inside tag attributes.
         */
        function htmlEncode(value){
          return $(document.createElement('div')).text(value).html();
        }


        function addChoices(choices){
            if(typeof choices !== undefined){
                $('#choice-block').empty();
                for (const [key, value] of Object.entries(choices)) {
                $(document.createElement('li')).addClass('choice choice-box').attr('data-index', key).text(key).appendTo('#choice-block');    
                }
                
            }
        }
        
        /**
         * Resets all of the fields to prepare for next question
         */
        function nextQuestion(){
            submt = true;
            $('#explanation').empty();
            if (currentquestion > -1){
            addChoices(quiz[currentquestion]['choices']);
            setupButtons();
            } else {
                console.log("No more questions");
                $('#previousbutton').prop("disabled",true);
                currentquestion = 0;
            }
        }

        /**
         * After a selection is submitted, checks if its the right answer
         *
         * @param {choice} number The li zero-based index of the choice picked
         */
        function processQuestion(choice){
/*                 if(quiz[currentquestion]['choices'][choice] == quiz[currentquestion]['correct']){
                $('.choice').eq(choice).css({'background-color':'#50D943'});
                $('#explanation').html('<strong>Correct!</strong> ' + htmlEncode(quiz[currentquestion]['explanation']));
                score++;
            } else {
                $('.choice').eq(choice).css({'background-color':'#D92623'});
                $('#explanation').html('<strong>Incorrect.</strong> ' + htmlEncode(quiz[currentquestion]['explanation']));
            } */
           
            currentquestion = quiz[currentquestion]["choices"][choice];
        
                if(quiz[currentquestion]["results"] != -1){
                    endQuiz();
                } else if (currentquestion > -1){
                    nextQuestion();
                } else {
                    console.log("what is happeninig");
                    currentquestion = 0;
                }

            
        }

        /**
         * Sets up the event listeners for each button.
         */
        function setupButtons(){
            $('.choice').on('mouseover', function(){
                $(this).css({'background-color':'#e1e1e1'});
            });
            $('.choice').on('mouseout', function(){
                $(this).css({'background-color':'#fff'});
            })
            $('.choice').on('click', function(){
                picked = $(this).attr('data-index');
                
                $('.choice').removeAttr('style').off('mouseout mouseover');
                $(this).css({'border-color':'#222','font-weight':700,'background-color':'#c1c1c1'});
                if(submt){
                    submt=false;
                    $('#submitbutton').css({'color':'#000'}).on('click', function(){
                        $('.choice').off('click');
                        $(this).off('click');
                        quiz[currentquestion]["selection"] = picked;
                        processQuestion(picked);
                    });
                }
                
            })
            if (currentquestion > 0) {
                $('#previousbutton').prop("disabled",false);
                $('#previousbutton').unbind('click').on('click', function(ev){
                    ev.stopPropagation;
                    currentquestion = quiz[currentquestion]["previous"];
                    console.log(quiz[currentquestion]["selection"]);
                    nextQuestion();
                    $('.choice[data-index="'+quiz[currentquestion]["selection"]+'"]').css({'background-color':'pink'});
                });
            } else {
                $('#previousbutton').prop("disabled",true);
            }
        }
        
        /**
         * Quiz ends, display a message.
         */
        function endQuiz(){
            $('#explanation').empty();
            $('#question').empty();
            $('#choice-block').empty();
            //$('#submitbutton').remove();
            $('#question').text(quiz[currentquestion]["results"]);
            //$(document.createElement('h2')).css({'text-align':'center', 'font-size':'4em'}).text(quiz[currentquestion]["results"]).insertAfter('#question');
        }

        /**
         * Runs the first time and creates all of the elements for the quiz
         */
        function init(){
            //add title
            if(typeof quiztitle !== "undefined" && $.type(quiztitle) === "string"){
                $(document.createElement('h1')).text(quiztitle).appendTo('#frame');
            } else {
                $(document.createElement('h1')).text("Quiz").appendTo('#frame');
            }

            //add pager and questions
            if(typeof quiz !== "undefined"){
               
                //add first question
                $(document.createElement('h2')).addClass('question').attr('id', 'question').text(quiz[0]['question']).appendTo('#frame');
                
                $(document.createElement('p')).addClass('explanation').attr('id','explanation').html('&nbsp;').appendTo('#frame');
            
                //questions holder
                $(document.createElement('ul')).attr('id', 'choice-block').appendTo('#frame');
            
                //add choices

                addChoices(quiz[0]['choices']);
            
                //add submit button
                $(document.createElement('div')).addClass('choice-box').attr('id', 'submitbutton').text('Next Question').css({'font-weight':700,'color':'#222','padding':'30px 0'}).appendTo('#frame');
                $(document.createElement('div')).addClass('choice-box').attr('id', 'previousbutton').text('Previous Question').css({'font-weight':700,'color':'#222','padding':'30px 0'}).appendTo('#frame');
            
                setupButtons();
            }
        }
        
        init();
    });
    </script>
    <style type="text/css" media="all">
        /*css reset */
        html,body,div,span,h1,h2,h3,h4,h5,h6,p,code,small,strike,strong,sub,sup,b,u,i{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;} 
        article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} 
        body{line-height:1; font:normal 0.9em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;} 
        ol,ul{list-style:none;}
        strong{font-weight:700;}
        #frame{max-width:620px;width:auto;border:1px solid #ccc;background:#fff;padding:10px;margin:3px;}
        h1{font:normal bold 2em/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:left;border-bottom:1px solid #999;padding:0;width:auto}
        h2{font:italic bold 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;padding:0;text-align:center;margin:20px 0;}
        p.pager{margin:5px 0 5px; font:bold 1em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999;}
        img.question-image{display:block;max-width:250px;margin:10px auto;border:1px solid #ccc;width:100%;height:auto;}
        #choice-block{display:block;list-style:none;margin:0;padding:0;}
        #submitbutton{background:#5a6b8c;}
        #submitbutton:hover{background:#7b8da6;}
        #explanation{margin:0 auto;padding:20px;width:75%;}
        .choice-box{display:block;text-align:center;margin:8px auto;padding:10px 0;border:1px solid #666;cursor:pointer;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
    </style>
</head>
<body>
    <a href="{% url 'basic_app:flowchart' %}" >Flow Chart Page</a>
    <a href="{% url 'index' %}" >Home Page</a>
    <div id="frame" role="content"></div>
</body>
</html>